.about{
  font-size:3.5rem;
  margin-bottom:5vh;;
  margin-top:5vh;;
  font-family: 'Spartan', sans-serif;
  width:100vw;
}

.bio{
  font-size:1rem;
  max-width:75vw;
  margin:0 auto;
  text-align:left;
  position:relative;
}

.biolinks{
  text-align:left;
  margin-top: 10vh;
  font-size:1.2rem;
}

.bioimage{
  max-width: 30vw;
  min-width: 10vw;
  float:right;
  position: relative;
  border-radius: 2vw;
  margin-right: 5vw;
  margin-bottom:2vh;
}

.bluetext{
  color:#007bff;
}


@media only screen and (max-device-width: 400px) {
  .about{
    font-size:2.5rem;
  }
}
@media only screen and (max-device-width: 767px) {
  .bioimage{
    float:left;
    max-width:90vw;
    padding: 0 0 5vw 5vw;
  }
  .biolinks{
    text-align:center;
    margin-top:0;
  }
}