.background{
    background-color: rgba(147, 191, 228, 0.699);
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    padding-top:35vh;
    width:100vw!important;
    padding-left:0;
    padding-right:0;
}
.main{
    margin:0!important;
    padding:0!important;
    width:100vw;
}

.arrow1 {
    display: block;
    padding-top: 25vh;
    padding-bottom: 2vh;
    width:3vw;
    margin: 0 auto;
    margin-left:49vw;
}
.arrow1:hover{
    width:3.3vw;
}

.arrow2 {
    display: block;
    width:3vw;
    margin: 0 auto;
    margin-left:49vw;

}
.arrow2:hover{
    width:3.3vw;
}
.arrow3 {
    display: block;
    padding-top: 10vh;
    padding-bottom: 2vh;
    width:3vw;
    margin: 0 auto;
    margin-left:49vw;
}
.arrow3:hover{
    width:3.3vw;
}

#skills{
    width:100vw;
    margin:0 auto;
    margin-top:5vh;
}

#about{
    margin-top:5vh;
    margin-bottom:10vh;
    width:100vw;
}

#resume{
    margin-top:10vh!important;
    width:100vw;
    margin-bottom:10vh;
}

.name{
    font-family: 'Nunito', sans-serif;
    top:40vh;
    background-color: rgba(238, 231, 238, 0.774);
    font-size:5rem;
    margin: 0 auto!important;
    text-align:center!important;
    padding:1rem;
}

.caption{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2rem;
    margin:0 auto;
    margin-top:2vh;
}

.skillstitle{
    color: #bbdefb;
    font-size: 3rem;
    width:100vw;
    margin:0 auto;
    margin-top:5vh;
    margin-bottom:5vh;
    text-align:center;
}
.and {
    color: #bdbdbd;
    font-size: 4rem;
  }

  @media only screen and (max-device-width:1000px) {
      .background{
          padding-top:28vh;
      }
    .arrow1 {
        padding-top: 12vh;
    }
  }
  @media only screen and (max-device-width:750px) {
    .background{
        padding-top:30vh;
    }
  .arrow1 {
      padding-top: 15vh;
  }
}
@media only screen and (max-device-width:600px) {
    .background{
        padding-top:22vh;
        min-width:300px;
    }
    .arrow1 {
        display: none;
    }
    .arrow2 {
        display: none;
    }
    .arrow3 {
        display: none;
    }
    .name{
        font-size:4rem;
    }
    .caption{
        font-size:1.5rem;
    }
    .skillstitle{
        font-size:2.5rem;
    }
  }