.contact{
    font-size:1rem;
    margin-bottom:5vh;
}

.label{
    font-size:1rem;
    margin-right:1vw;
}

.form {
    text-align: center;
    align-content: center;
    margin:0 auto !important;
    margin-bottom:10vh;
}

.form-group{
    width:100%!important;
    margin:0 auto;
}

.label{
    padding-bottom:1vh;
}

#nameinput{
    margin-bottom:2vh;
}

#emailinput{
    margin-bottom:2vh;
}

.sendBtn{
    margin-bottom:10vh;
}